@font-face {
  font-family: yekan;
  src: url(./assets/fonts/Yekan.woff);
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: yekan;
}

/* Side bar component */

.sideBar {
  width: -webkit-fill-available;
  border: solid 0.5px gray;
  border-top: 5px solid #e6dfc0;
  padding: 10px 15px;
}
.sideBar div {
  border-bottom: 1px solid #f3f3f3;
}
.sideBar div h2 {
  font-size: 17px;
  color: #02257f;
  padding: 0 0 0 0;
}
.sideBar li {
  font-size: 13px;
  list-style: none;
  text-align: justify;
}
.sideBar li::before {
  content: "\2022";
  color: #d59706;
  font-weight: bold;
  display: inline-block;
  width: 2em;
  margin-left: -1em;
}

.sideBar li a {
  text-decoration: none;
  color: #000;
}

.sideBar li a:hover {
  color: #0063be;
}

/* *************************** */

/* .test-wrapper{
  display: flex;
  justify-content: space-around;
}

.test{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test img{
  width: 160px;
  height: 97px;
}

.test h2{
  font-size: 14px;
} */