@font-face {
  font-family: yekan;
  src: url(./assets/fonts/Yekan.woff);
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: yekan;
}

.sideBar{
  width: 223px;
  /* height: 500px; */
  /* background: blueviolet; */
  border: solid .5px gray;
  border-top: 5px solid #e6dfc0;
  margin: 20px;
  padding: 10px 15px;
}
.sideBar div{
  border-bottom: 1px solid #f3f3f3;
}
.sideBar div h2{
  font-size: 17px;
  color: #02257f;
  padding: 0 0 0 0;
}
.sideBar li{
  font-size: 13px;
  list-style: none;
  text-align: justify;
}
.sideBar li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d59706; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 2em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.sideBar li a{
  text-decoration:  none;
  color: #000;
}

.sideBar li a:hover{
  color: #0063be;
}